# Dependency directory (akan di-install ulang dalam image)
node_modules
bun.lockb

# Build artifacts
dist
*.log

# System files
.DS_Store
.vscode
.idea

# Test files
__tests__/
coverage/
functions